{% extends "sitio1/inicio.html" %}

{% load static %}

{% block title %}
EdTech - Mensajería
{% endblock %}

{% block content %}
    <h4>Recibidos</h4>
    <p><a class="btn btn-primary" href="{% url 'mensajes-enviados' %}">Ir a Enviados</a></p>
    {% for mensaje in object_list %}
    <div class="row">
    <div class="col-md-5">
        <h5>Asunto: {{ mensaje.asunto }}</h5>
        <p>De: {{ mensaje.autor }} el {{ mensaje.fecha }}  
            <a class="btn btn-primary" href="{% url 'mensaje' mensaje.id %}">Ver</a></p>
    </div>
    </div>
    <hr>
    {% empty %}
    <p>Aún no tiene mensajes!</p>
    {% endfor %}
    
    <!-- Pagination -->
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %} 
{% endblock %} 