{% extends "sitio1/inicio.html" %}

{% load static %}

{% block title %}
EdTech - Foro y mensajería
{% endblock %}

{% block content %}
<a class="btn btn-primary offset-sm-1"href="#">
    Crear post
</a>

<a class="btn btn-primary offset-sm-1"href="{% url 'mensajes' %}">
    Mensajería
</a>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-3">Nuestro foro <br>
      <small>Para compartir y comunicarte con la comunidad EdTech</small>
    </h1>

    <!-- Posteos -->
    {% for posteo in object_list %}
    <div class="row">
      <div class="col-md-2">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-2" src="{{ posteo.imagen.url }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>{{ posteo.titulo }}</h3>
        <p>Creado por: {{ posteo.autor }} el {{ posteo.fecha }}</p>
        <a class="btn btn-primary" href="{% url 'Detail' posteo.id %}">Ver completo</a>
      </div>
    </div>
    <hr>
    {% empty %}
    <p>Aún no se compartieron posteo!</p>
    {% endfor %}
    <!-- /.row -->

     <!-- Pagination -->
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %} 
</div>

<!-- /.container -->

{% endblock %}