{% extends "sitio1/inicio.html" %}

{% load static %}

{% block title %}
EdTech - Posteo y comentarios
{% endblock %}

{% block content %}

<h3> {{ posteo.titulo }} </h3>
<h4> Tema: {{ posteo.tema }} </h4>

<p> Creando por: {{ posteo.autor }}  el {{ posteo.fecha }} </p>

<p> {{ posteo.contenido }} </p>

<div class="card h-25">
    <img class="card-img-top img-thumbnail" style="max-width: 30%;" src="{{ posteo.imagen.url }}" alt="">
</div>
<h5>Comentarios</h5>

{% for comment in posteo.comentarios.all %}
    <div class="comment">
        <div class="date">{{ comment.fecha }}</div>
        <strong>{{ comment.autor }}</strong>
        <p>{{ comment.comentario }}</p>
    </div>
{% empty %}
    <p>Todavía no hay comentarios :(</p>
{% endfor %}

<br>
<a href="{% url 'foro-list' %}">Volver a foro</a>

{% endblock %}