{% extends 'sitio1/inicio.html' %}

{% block title %}
    EdTech - Docentes
{% endblock %}
    
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Comisión</th>
            <th scope="col">Inicio</th>
            <th scope="col">Finalización</th>
            <th scope="col">Vacantes</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in disponibles %}
        <tr>
            <td>{{ curso.tema_curso }}</td>
            <td>{{ curso.nro_comision }}</td>
            <td>{{ curso.inicio }}</td>
            <td>{{ curso.final }}</td>
            <td>{{ curso.vacantes }}</td>
        </tr>   
        {% endfor %}
    </tbody>
</table>

{% endblock %}