{% extends 'sitio1/inicio.html' %}

{% block title %}
    EdTech - Docentes
{% endblock %}
    
{% block content %}
<!-- Header -->
<header class="bg-dark py-3">
    <div class="container px-5 px-lg-5 my-3">
        <div class="text-center text-white">
            <h3>Listado de cursos en los que te has postulado como docente</h3>
        </div>
    </div>
</header>
<!-- Section -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Curso</th>
            <th scope="col">Comisión</th>
            <th scope="col">Inicio</th>
            <th scope="col">Finalización</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in postulaciones %}
        <tr>
            <td>{{ curso.curso_postulado.tema_curso }}</td>
            <td>{{ curso.curso_postulado.nro_comision }}</td>
            <td>{{ curso.curso_postulado.inicio }}</td>
            <td>{{ curso.curso_postulado.final }}</td>
            <td><a href="{% url 'detalle-comision' curso.curso_postulado.nro_comision %}">+ Ver detalle</a></td>
        </tr>   
        {% empty %}
        <div class="text-center">
            <h3>Aún no te has postulado a cursos como docente!</h3>
        </div>
        {% endfor %}
    </tbody>
</table>
{% endblock %}