{% extends 'sitio1/inicio.html' %}

{% block title %}
    Login
{% endblock %}
    
{% block content %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Ingreso estudiante</h5>
                            <form method="POST">
                              {% csrf_token %}
                              <!-- {{ form.as_p }} -->
                              <div class="form-floating mb-3">
                                <input class="form-control" id="floatingInput" placeholder="11222333" name="username">
                                <label for="floatingInput">Documento de Identidad</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                <label for="floatingPassword">Password</label>
                              </div>
                              <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold">Ingresar</button>
                                <br>
                                <h6 class="card-title text-center mb-4 fw-light fs-5">Si aún no posees cuenta</h6>
                                <a class="btn btn-primary ms-1 text-uppercase fw-bold" href="#">Registrarse</a>
                              </div>
                            </form>
                </div>
              </div>
            </div>
          </div>
        </div>
     </body>
{% endblock %}
